<div [formGroup]="form">
  <label [attr.for]="question.options.key">{{question.options.label}}</label>

  <div [ngSwitch]="question.options.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.options.key"
           [id]="question.options.key" [type]="question.options.type">

    <select [id]="question.options.key" *ngSwitchCase="'dropdown'" [formControlName]="question.options.key">
      <option *ngFor="let opt of question.options.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage alert-danger" *ngIf="!isValid">{{question.options.label}} is required</div>
</div>